<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Die</title>
    <link rel="stylesheet" href="../css/foundation.css">
    <link rel="stylesheet" href="../css/die.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<form>
<div>
    <input type="submit" class="button small" id="d4" name="formSubmit" value="4">
    <input type="submit" class="button small" id="d6" name="formSubmit" value="6">
    <input type="submit" class="button small" id="d8" name="formSubmit" value="8">
    <input type="submit" class="button small" id="d10" name="formSubmit" value="10">
    <input type="submit" class="button small" id="d12" name="formSubmit" value="12">
    <input type="submit" class="button small" id="d20" name="formSubmit" value="20">
    <input type="submit" class="button small" id="d100" name="formSubmit" value="100">
    <input type="button" class="button small" id="roll" name="roll" value="roll">
</div>
</form>
</body>
<!--------- SCRIPTS -->
<script type="module" src="../javascripts/main.js">
</script>
</html>